/*
  #ffffff
  #eaeaee
  #1470af  https://maketintsandshades.com/#1470af
  #000000

  Position Colors:
  #d10b33 QB
  #7dad45 RB
  #1d0eff WR
  #823bab TE
  #fe39ff K
  #e78447 DEF
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
